/node_modules
/public/hot
/public/storage
/public/js/app.js
/public/css/app.css
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

public/css/app.css
public/js/app.js
public/js/app.js.LICENSE.txt
public/css/app.css
public/css/app.css
resources/js/vue-i18n-locales.generated.js
