.arrow-animation {
    margin-top: -3px;
    animation: hideshow 4s infinite;
}

@keyframes hideshow {
    0% {
        opacity: 0;
        margin-left: -75px;
    }

    50% {
        opacity: 1;
        margin-left: 75px;
    }

    100% {
        opacity: 0;
        margin-left: 75px;
    }
}

a.user-link img {
    transition: transform .15s;
}

a.user-link:hover img {
    transition: transform .3s;
    /* Animation */
    transform: scale(1.06);
    filter: brightness(1.1);
}

/* fade transition */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}

/*slide transition */
.slide-fade-enter-active {
  transition: all .5s ease;
}
.slide-fade-leave-active {
  transition: all 1s ease;
  transform: translateX(25px);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(25px);
  opacity: 0;
}
