.arrow-animation {
    margin-top: -3px;
    animation: hideshow 4s infinite;
}

@keyframes hideshow {
    0% {
        opacity: 0;
        margin-left: -75px;
    }

    50% {
        opacity: 1;
        margin-left: 75px;
    }

    100% {
        opacity: 0;
        margin-left: 75px;
    }
}

a.user-link img {
    transition: transform .15s;
}

a.user-link:hover img {
    transition: transform .3s;
    /* Animation */
    transform: scale(1.06);
    filter: brightness(1.1);
}