/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://unpkg.com/tailwindcss/dist/base.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/base";
 */
@tailwind base;
@tailwind components;

@import "colors.css";
@import "buttons.css";
@import "stars.css";
@import "exchange-block.css";
@import "animations.css";
@import "icomoon.css";
@import "social-data.css";
@import "type-range.css";

.special-pad-top{
  padding-top:110px;
}
@media (max-width:630px){
  .special-pad-top{
    padding-top:87px;
  }
}

/* LANG */
.profileLangSelector > ul{
  display:flex;
  justify-content:center;
}
.profileLangSelector li {
  padding: 5px 20px 10px;
  background-color:var(--color2);
  margin:15px 15px 0;
}
.profileLangSelector img {
  display:inline;
}
.profileLangSelector a {
  font-size: 18px;
}

.profile-divider{
 @apply p-4 pb-5 my-5 break-words text-2xl text-primary text-center font-medium bg-white;
}

@tailwind utilities;
