@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?whitgs');
  src:  url('/fonts/icomoon.eot?whitgs#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?whitgs') format('truetype'),
    url('/fonts/icomoon.woff?whitgs') format('woff'),
    url('/fonts/icomoon.svg?whitgs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color:#555;
  font-size: 18px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e901";
}
.icon-log-out:before {
  content: "\e902";
}
.icon-home:before {
  content: "\e905";
}
.icon-fast_forward:before {
  content: "\e904";
}
.icon-person:before {
  content: "\e903";
}
.icon-timer:before {
  content: "\e900";
}
.icon-power-cord:before {
  content: "\e9b7";
}
.icon-cross:before {
  content: "\ea0f";
}
