/* LANG */
.profileLangSelector > ul{
  display:flex;
  justify-content:center;
}
.profileLangSelector li {
  padding: 5px 20px 10px;
  background-color:var(--color2);
  margin:12px 15px 0;
}
@media (max-width:900px){
  .profileLangSelector > ul {display:block;}
}
.profileLangSelector img {
  display:inline;
  margin-bottom:5px;
}
.profileLangSelector a {
  font-size: 18px;
}

.profile-divider{
 @apply p-4 pb-5 my-5 break-words text-2xl text-primary text-center font-medium bg-white;
}
