.social-data span{
  margin:10px;
  font-size:28px;
  color:#777;
  padding:8px 0;
}
@media (max-width:990px){
  .social-data span{
    font-size:32px;
  }
}

.social-data a:hover span {
  color: var(--color1);
}
